@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #101010;
}

p {
  color: #b3b3b3;
}

/* styles/globals.css */
/* styles/globals.css */
@keyframes moveToBottomRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}

@keyframes moveToTopLeft {
  0% {
    transform: translate(50px, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
  

/* Animasi infinite scroll */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}

/* TECH STACK STYLING */
.mask-image {
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  position: relative;
}

.slider .list {
  display: flex;
  position: absolute;
  left: 0;
  animation: autoRun var(--duration, 10s) linear infinite; /* Gunakan variabel --duration */
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  flex-shrink: 0;
  transition: filter 0.5s;
}

@keyframes autoRun {
  from { transform: translateX(0); }
  to { transform: translateX(calc(-1 * var(--width) * var(--quantity))); }
}

.slider:hover .list {
  animation-play-state: paused;
  filter: grayscale(1);
}

.slider .list .item:hover {
  filter: grayscale(0);
}